{% extends 'base.html.twig' %}


{% block body %}
    <h2>
        Edit comment
    </h2>
    {{ form_start(formComment) }}

    {{ form_row(formComment.uid, {'label': 'Username'}) }}

    {{ form_row(formComment.content, {'label': 'Comment'}) }}

    <p>
        <button type="submit" class="btn btn-success">
            Edit comment
        </button>
    </p>

    {{ form_end(formComment) }}
{% endblock body %}