{% extends 'base.html.twig' %}

{% block body %}
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium aliquam delectus deleniti dolores
            doloribus eligendi ex, fuga ipsa ipsam iste labore nemo nesciunt nobis odit placeat quam quas sed!</span>
        <span>Beatae corporis dicta doloribus, ducimus, est et illo incidunt iste non odio officiis qui quia rem tenetur
            unde vel voluptatem? Ex fugiat fugit inventore molestiae nobis recusandae sapiente sunt voluptates?</span><span>
            Accusamus, accusantium aperiam asperiores at cupiditate dolor ducimus eveniet incidunt inventore ipsa nam nobis
            odio possimus ratione tempore! Aliquid consequatur distinctio dolorem ex impedit modi natus omnis quo, reiciendis
            repellendus?</span><span>Amet, eaque ipsam minima modi omnis quod recusandae! Aliquam, animi nostrum? Accusantium,
            in, molestias. Ab cumque distinctio doloribus explicabo laudantium perspiciatis quis quod. Beatae iste modi, recusandae
            reprehenderit rerum sed.</span><span>Architecto, asperiores atque culpa dignissimos hic nesciunt provident repellendus!
            Architecto asperiores blanditiis est, expedita inventore labore neque rerum voluptate? Ex minima officia voluptates.
            Amet blanditiis doloribus minima omnis quas rerum.</span>
    </p>
{% endblock body %}