{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        Hello
    </h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consectetur doloremque magnam minima mollitia
        quibusdam vel? Aspernatur assumenda commodi corporis deserunt dicta enim, est fuga, id illum iste libero magni,
        neque nostrum quas quasi similique sunt tempora tenetur voluptates voluptatibus?
    </p>
    <p>
            A architecto doloremque
        in inventore ipsam laboriosam, suscipit? Mollitia, obcaecati omnis perferendis quas repellendus sequi tempora
        tempore. Ab aliquam at consequatur corporis cupiditate deserunt distinctio dolorem dolores doloribus dolorum et,
        illo libero obcaecati optio porro praesentium tempora veritatis, voluptatem voluptatibus!
    </p>

    <hr/>

    <h2>
        Current Progress of the website : 75%
    </h2>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
    </div>
{% endblock body %}